<connectionStrings>
  <clear />
  <add name="HeartBeatDbConnectionString"
  providerName="System.Data.SqlClient"
  connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Panda\Documents\Heartbeat\Heartbeat\App_Data\HeartBeatDb.mdf;Integrated Security=True"
/>
</connectionStrings>

