<connectionStrings>
  <clear />
  <add name="HeartBeatDbConnectionString"
  providerName="System.Data.SqlClient"
  connectionString="Provider=PostgreSQL OLE DB Provider;Data Source=postgres://vqzdbxbzprugrx:mT6GXvFHsJxgt8y7hRl-R6RFdG@ec2-54-243-223-22.compute-1.amazonaws.com:5432/d676abpr84qukh;location=d676abpr84qukh;User ID=vqzdbxbzprugrx;password=mT6GXvFHsJxgt8y7hRl-R6RFdG;timeout=1000;"
/>
</connectionStrings>
